<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %>
      <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" />
      <% } else { %>
      <img
        class="img-fluid"
        src="https://res.cloudinary.com/dudynuv36/image/upload/v1619833775/YelpCamp/No_image_3x4_bpso0d.png"
        alt="No Image Available"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <%= campground.title %> - $<%= campground.price %>
        </h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%= campground.location %> </small>
        </p>
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >View <%= campground.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
